# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
changelog.txt
README.txt
LICENSE.txt
CREDITS.txt

advancements
data
DIM1
DIM-1
playerdata
stats
generated
level.dat
level.dat_old
session.lock